body {
    background: #DF3B3B;
}
.alert{
	margin-left: 25%;
	margin-right: 25%;
	font-size: 150%;
}
.navbar-brand {
	padding-left: 100%;
}

.form-group {
	margin: 1%;
}

.input-group-addon {
	margin-right:5%;
}

.panel {
	margin-left: 15%;
	margin-right: 15%;

}

h1{
	margin-top:10%;
	margin-left: 11%;
}

.col-sm-2 control-label {
	margin-bottom:20%;
}
