body {
    background: #DF3B3B;
}
.navbar-brand {
	padding-left: 100%;
}

.form-group {
	margin: 1%;
}

.input-group-addon {
	margin-right:5%;
}

.panel {
	margin-top:5%;
	margin-left:15%;
	margin-right:15%;
}

h1 {
	margin-top:10%;
	margin-left: 11%;
}

.col-sm-2 control-label {
	margin-bottom:20%;
}
