<!DOCTYPE html>
<html xmlns = "http:www.w3.org/1999/xhtml"
	  xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8"/>
<title>Cadastro do título</title>
<link rel="stylesheet" type ="text/css" href="/CSS/bootstrap.min.css">
<link rel="stylesheet" type ="text/css" href="/CSS/style.css">
</head>
<body>

	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"> 
					<img alt="ESTEPE" src="/imgs/estepet.png" height = "120" width="160">
				</a>
			</div>
		</div>
	</nav>

	<form class = "form-horizontal" method="post" action="/Robos">
	

		<div id="alert" class="relative1">
			<div class="alert alert-success" th:if="${!#strings.isEmpty(mensagem)}">
					<span th:text="${mensagem}"></span>
			</div>
		</div>

	
		<div class="relative2">
			<div class="panel-heading">
				<h3 class="panel-title">CADASTRO DE ROBO</h3>
			</div>


			<div class="panel-body">
				<div class="form-group">
					<label for="equipe" class="col-sm-2 control-label">EQUIPE</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="descricao" name="equipe" />
					</div>
				</div>


				<div class="form-group">
					<label for="dataDoShow" class="col-sm-2 control-label">NOME DO ROBO</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" name="nome"/>
					</div>
				</div>

				<div class="form-group">
					<label for= "categoria" class="col-sm-2 control-label">CATEGORIA</label>
					<div class="col-sm-2">
						<select class ="form-control" name="categoria">
							<option value="ANTWEIGHT">ANTWEIGHT</option>
							<option value="BEETLEWEIGHT">BEETLEWEIGHT</option>
							<option value="HOBBYWEIGHT">HOBBYWEIGHT</option>
							<option value="FEATHERWEIGHT">FEATHERWEIGHT</option>
							<option value="LIGTHWEIGHT">LIGTHWEIGHT</option>
						</select>
					</div>
				</div>
				
				<div class="form-group">
					<label for="Status" class="col-sm-2 control-label">STATUS</label>
					<div class="col-sm-2">
						<select class ="form-control" name ="Status">
							<option th:each="status : ${todosStatusrobo}" th:value = "${status}" th:text="${status.desc}"></option>
						</select>
					</div>
				</div>
				
				<div class = "form-group">
					<div class="col-sm-offset-3 col-sn-10">
						<button type = "submit" class="btn btn-primary">SALVAR</button>
					</div>
				</div>
			</div>
		</div>
	</form>
	<script src = "/js/bootstrap.min.js"></script>
</body>
</html>