<!DOCTYPE html>
<html xmlns = "http:www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8"/>
<title>Cadastro do título</title>
<link rel="stylesheet" type ="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type ="text/css" href="/css/stylemenu.css">
</head>
<body>

	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"> 
					<img alt="ESTEPE" src="/imgs/estepet.png" height = "120" width="160">
				</a>
			</div>
		</div>
	</nav>
	
	
	<div class="btn-group" role="group" aria-label="...">
	  <button type="button" onClick="novo()" class="btn btn-default">Novo</button>
	</div>
	
	
	
	
	
	
	
	
	
	
	<script src = "/js/bootstrap.min.js"></script>
	
</body>
</html>